In [83]:
import pandas as pd   
import numpy as np

In [2]:
data = pd.read_excel("C:/Users/USER/Favorites/Desktop/Telco-Customer-Churn.xlsx") #reading the dataframe into the variable data

C:\ProgramData\Anaconda\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [3]:
data     #reading the data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.0,Yes,No,1.0,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0.0,No,No,34.0,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0.0,No,No,2.0,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0.0,No,No,45.0,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0.0,No,No,2.0,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0.0,Yes,Yes,24.0,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0.0,Yes,Yes,72.0,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0.0,Yes,Yes,11.0,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1.0,Yes,No,4.0,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0.0,No,No,66.0,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [4]:
data.head()   #the head of the data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0.0,Yes,No,1.0,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0.0,No,No,34.0,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0.0,No,No,2.0,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0.0,No,No,45.0,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0.0,No,No,2.0,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# Q-1

In [35]:
d1=data[data["Churn"]=="No"]  #defining variable with customers owns their connection

In [36]:
d1["gender"].value_counts()   # The number of customers owns their connection based on gender

Male      2625
Female    2549
Name: gender, dtype: int64

In [37]:
d1["SeniorCitizen"].value_counts() # The number of customers owns their connection based on Senior Citizen

0.0    4508
1.0     666
Name: SeniorCitizen, dtype: int64

# Q-2

In [38]:
data2 = data[data["Churn"]=="Yes"]   #defining variable with customers left their connection

In [10]:
data2["gender"].value_counts()

Female    939
Male      930
Name: gender, dtype: int64

In [11]:
data2["SeniorCitizen"].value_counts()

0.0    1393
1.0     476
Name: SeniorCitizen, dtype: int64

In [49]:
a=data.Churn
b=data.gender
c=data.SeniorCitizen

In [50]:
pd.crosstab(a,b)

gender  Female  Male
Churn
No        2549  2625
Yes        939   930

In [51]:
pd.crosstab(a,c)

SeniorCitizen   0.0  1.0
Churn
No             4508  666
Yes            1393  476

# Q-3

In [52]:
data["PaymentMethod"].unique()  #finding unique values of the column PaymentMethod

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [53]:
data['Contract'].unique()      #finding unique values of the column Contract

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [54]:
# Preference of payment method based on customers owns the service in percentage
data1["PaymentMethod"].value_counts(normalize = True)*100

Mailed check                 25.202938
Electronic check             25.009664
Credit card (automatic)      24.932354
Bank transfer (automatic)    24.855044
Name: PaymentMethod, dtype: float64

In [55]:
# Preference of payment method based on customers left their service in percentage
data2["PaymentMethod"].value_counts(normalize = True)*100

Electronic check             57.303371
Mailed check                 16.479401
Bank transfer (automatic)    13.804173
Credit card (automatic)      12.413055
Name: PaymentMethod, dtype: float64

In [56]:

data3 = data[data['Contract'] == 'Month-to-month']  #Defining a dataframe of column "Contract" having value "Month-to-Month"
data4 = data[data['Contract'] == 'One year']      #Defining a dataframe of column "Contract" having value "One year"
data5 = data[data['Contract'] == 'Two year']      #Defining a dataframe of column "Contract" having value "Two year"


# Preference of payment method based on customers having contract "Month-to-Month"in percentage
data3["PaymentMethod"].value_counts(normalize = True)*100

Electronic check             47.741935
Mailed check                 23.045161
Bank transfer (automatic)    15.200000
Credit card (automatic)      14.012903
Name: PaymentMethod, dtype: float64

In [57]:
# Preference of payment method based on customers having contract "One year"in percentage
data4["PaymentMethod"].value_counts(normalize = True)*100

Credit card (automatic)      27.019688
Bank transfer (automatic)    26.544467
Electronic check             23.557366
Mailed check                 22.878479
Name: PaymentMethod, dtype: float64

In [18]:
# Preference of payment method based on customers having contract "Two year"in percentage
data5["PaymentMethod"].value_counts(normalize = True)*100

Credit card (automatic)      34.277286
Bank transfer (automatic)    33.274336
Mailed check                 22.536873
Electronic check              9.911504
Name: PaymentMethod, dtype: float64

ANOTHER METHOD

In [58]:
p=data.PaymentMethod
q=data.Churn
r=data.Contract

In [59]:
pd.crosstab(p,q)

Churn                        No   Yes
PaymentMethod
Bank transfer (automatic)  1286   258
Credit card (automatic)    1290   232
Electronic check           1294  1071
Mailed check               1304   308

In [60]:
pd.crosstab(p,r)

Contract                   Month-to-month  One year  Two year
PaymentMethod
Bank transfer (automatic)             589       391       564
Credit card (automatic)               543       398       581
Electronic check                     1850       347       168
Mailed check                          893       337       382

# Q-4

In [62]:
 #finding unique values of the column InternetService
data['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [63]:
# Internet service preference by Male customers own their service in percentage

data6 = data1[data["gender"] == "Male"]
data6['InternetService'].value_counts(normalize = True)*100

C:\Users\USER\AppData\Local\Temp/ipykernel_5948/1460228605.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data6 = data1[data["gender"] == "Male"]

DSL            37.828571
Fiber optic    34.666667
No             27.504762
Name: InternetService, dtype: float64

In [64]:
# Internet service preference by Male customers left their service in percentage
data7 = data2[data["gender"] == "Male"]
data7['InternetService'].value_counts(normalize = True)*100

C:\Users\USER\AppData\Local\Temp/ipykernel_5948/2710952740.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data7 = data2[data["gender"] == "Male"]

Fiber optic    68.064516
DSL            25.806452
No              6.129032
Name: InternetService, dtype: float64

In [65]:
# Internet service preference by Female customers own their service in percentage

data8 = data1[data["gender"] == "Female"]
data8['InternetService'].value_counts(normalize = True)*100

C:\Users\USER\AppData\Local\Temp/ipykernel_5948/505279227.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data8 = data1[data["gender"] == "Female"]

DSL            38.014908
Fiber optic    34.876422
No             27.108670
Name: InternetService, dtype: float64

In [66]:
## Internet service preference by Female customers left their service in percentage

data9 = data2[data["gender"] == "Female"]
data9['InternetService'].value_counts(normalize = True)*100

C:\Users\USER\AppData\Local\Temp/ipykernel_5948/374771647.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data9 = data2[data["gender"] == "Female"]

Fiber optic    70.713525
DSL            23.322684
No              5.963791
Name: InternetService, dtype: float64

ANOTHER WAY

In [68]:
x=data.InternetService
y=data.gender
z=data.Churn

In [69]:
pd.crosstab(x,[y,z])

gender          Female      Male
Churn               No  Yes   No  Yes
InternetService
DSL                969  219  993  240
Fiber optic        889  664  910  633
No                 691   56  722   57

# Q-5

In [24]:
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [25]:
#the descriptive statistics of “TotalCharges” based on Male Customers
d1 = data[data['gender']== 'Male']
d1['TotalCharges'].describe()

count    3555.000000
mean     2291.680667
std      2273.095299
min        18.800000
25%       399.275000
50%      1406.000000
75%      3778.100000
max      8684.800000
Name: TotalCharges, dtype: float64

In [26]:
#the descriptive statistics of “TotalCharges” based on Female Customers
d2 = data[data['gender'] == 'Female']
d2['TotalCharges'].describe()

count    3488.000000
mean     2289.338308
std      2276.695359
min        18.850000
25%       403.300000
50%      1389.050000
75%      3834.062500
max      8672.450000
Name: TotalCharges, dtype: float64

In [27]:
#the descriptive statistics of “TotalCharges” based on Customers having contract of month-to-month
d3 = data[data['Contract'] == "Month-to-month"]
d3['TotalCharges'].describe()

count    3875.000000
mean     1369.254581
std      1613.879008
min        18.850000
25%       160.100000
50%       679.550000
75%      2066.500000
max      8061.500000
Name: TotalCharges, dtype: float64

In [28]:
#the descriptive statistics of “TotalCharges” based on Customers having contract of one year
d4 = data[data['Contract'] == "One year"]
d4["TotalCharges"].describe()

count    1473.000000
mean     3038.377461
std      2233.477741
min        18.800000
25%       989.450000
50%      2658.400000
75%      4860.350000
max      8684.800000
Name: TotalCharges, dtype: float64

In [29]:
#the descriptive statistics of “TotalCharges” based on Customers having contract of two year
d5 = data[data['Contract'] == "Two year"]
d5['TotalCharges'].describe()

count    1695.000000
mean     3746.752383
std      2582.454154
min        20.350000
25%      1280.125000
50%      3638.250000
75%      6044.300000
max      8672.450000
Name: TotalCharges, dtype: float64

In [30]:
#the descriptive statistics of “TotalCharges” based on Customers having mailed check Payment Method 
d6 = data[data['PaymentMethod'] == 'Mailed check']
d6['TotalCharges'].describe()

count    1612.000000
mean     1083.236973
std      1509.101844
min        18.800000
25%       116.937500
50%       473.675000
75%      1316.000000
max      8476.500000
Name: TotalCharges, dtype: float64

In [31]:
#the descriptive statistics of “TotalCharges” based on Customers having Electronic check Payment Method
d7 = data[data['PaymentMethod'] == 'Electronic check']
d7['TotalCharges'].describe()

count    2365.000000
mean     2090.868182
std      2155.435320
min        18.850000
25%       308.050000
50%      1253.900000
75%      3340.550000
max      8564.750000
Name: TotalCharges, dtype: float64

In [32]:
#checking unique value of "payment methods
data["PaymentMethod"].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [33]:
#the descriptive statistics of “TotalCharges” based on Customers having Bank transfer Payment Method
d8 = data[data['PaymentMethod'] == 'Bank transfer (automatic)']
d8['TotalCharges'].describe()

count    1544.000000
mean     3083.566023
std      2360.362773
min        19.250000
25%      1052.387500
50%      2479.500000
75%      4948.337500
max      8684.800000
Name: TotalCharges, dtype: float64

In [34]:
#the descriptive statistics of “TotalCharges” based on Customers having Credit Card  Payment Method
d9 = data[data['PaymentMethod'] == 'Credit card (automatic)']
d9['TotalCharges'].describe()

count    1522.000000
mean     3074.920894
std      2410.536742
min        19.300000
25%       989.400000
50%      2454.175000
75%      5016.550000
max      8670.100000
Name: TotalCharges, dtype: float64